:root {
    --black-bean: #441d0f;
    --windsor-tan: #a65421;
    --telemagenta: #d62976;
    --shimmering-blush: #ea839a;
    --peach-puff: #ffddbd;
}

header {
    background: var(--peach-puff);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
}

nav {
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
  
nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}
  
nav a {
    position: relative;
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--black-bean);
}

.logo {
    grid-column: 2 / 3;
    width: 210px;
}